<div class="page-container">
  <header class="app-header">
    <div class="logo">
      <img src="/assets/svg/Logo-Menor.svg" alt="Logo da Aplicação" />
    </div>
    <nav>
      <ul>
        <li><a routerLink="/app/home">Início</a></li>
        <li><a routerLink="/app/buscar">Buscar</a></li>
        <li><a routerLink="/app/user">User (para testar)</a></li>
      </ul>
    </nav>
  </header>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div class="footer-content">
      <div class="first">
        <h3>AutoFácil</h3>
        <h5>O seu marketplace automotivo de confiança</h5>
      </div>
      <div class="second">
        <h3>Links Úteis</h3>
        <h5>Sobre Nós</h5>
        <h5>Como Funciona</h5>
        <h5>Termos de Uso</h5>
        <h5>Privacidade</h5>
      </div>
      <div class="third">
        <h3>Suporte</h3>
        <h5>equipenextech&#64;gmail.com</h5>
        <h5>(61) 98679-9863</h5>
      </div>
    </div>
  </footer>
</div>
